<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
    <div id='app-question-1'>
      <h4>1) 3, 5, 9, 15, X  - Please create new function for finding X value</h1>
        <input v-model='sequence'><br/>
        <button v-on:click='calculate' :disabled='processing'>Calculate</button><br/>
        <span v-if="result != ''">X = {{ result }}</span>
      <br/>
  		<hr/>
    </div>

    <div id='app-question-2'>
      <h4>2) (Y + 24)+(10 × 2) = 99  - Please create new function for finding Y value</h1>
        (Y + <input class='input-small' v-model='a'>)+(<input class='input-small' v-model='b'> × <input class='input-small' v-model='c'>) = <input class='input-small' v-model='d'><br/>
        <button v-on:click='calculate' :disabled='processing'>Calculate</button><br/>
        <span v-if="result != ''">Y = {{ result }}</span>
      <br/>
  		<hr/>
    </div>

    <div id='app-question-3'>
      <h4>3) If 1 = 5 , 2 = 25 , 3 = 325 , 4 = 4325 Then 5 = X - Please create new function for finding X value</h1>
        <input v-model='sequence'><br/>
        <button v-on:click='calculate' :disabled='processing'>Calculate</button><br/>
        <span v-if="result != ''">X = {{ result }}</span>
      <br/>
  		<hr/>
    </div>

	</div>
</div>
